{% extends 'index.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Profile</h1>
            <hr>
            <div class="card">
                <div class="card-body">
                    {% if user %}
                    <h5 class="card-title">{{ username }}</h5>
                    <hr>
                    <p style="color: blue">User-role: {{ user["role_name"] }}</p>
                    <p class="text-muted">Joined: {{ user["create_time"].strftime('%Y-%m-%d %H:%M:%S') }}</p>
                    <p class="text-muted">Last login: {{ user["last_login"].strftime('%Y-%m-%d %H:%M:%S') }}</p>
                    <p class="text-muted">Total threads created: {{user["thread_count"]}}</p>
                    <p class="text-muted">Total messages sent: {{user["message_count"]}}</p>
                    {% if session["user.role"] == "ADMIN" and username != "admin" %}
                    <form action="/user/updaterole/{{user['id']}}" method="POST">
                        <select name="role">
                            <option value="1">ADMIN</option>
                            <option value="2">MODERATOR</option>
                            <option value="3">USER</option>
                        </select>
                        <input type="submit" value="Update role">
                        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                    </form>
                    {% endif %}
                    {% else %}
                    <p>User {{ username }} not found</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}